<p style="color: green"><%= notice %></p>

<table class="table">
<thead>
<tr>
  <th>First name</th>
  <th>Last name</th>
  <th>Email</th>
  <th>Phone</th>
  <th>Twitter</th>
  </tr>
</thead>

  <% @friends.each do |friend| %>
    <%= render friend %>
  <% end %>
</table>

<%= link_to "Add New friend", new_friend_path %>